@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
html,
body,
button {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
  background-color: #0d0607;
}

@media only screen and (max-width: 1037px) {
  body {
    margin-top: 200px;
  }
}

.btn, button {
  padding: 15px;
  text-decoration: none;
  color: white;
  background: #E32D3D;
  border: none;
  margin-top: 5px;
}

img {
  z-index: 0;
}

header, .nav-logo, .nav-link, ul, li {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background: #1a0d0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  padding-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-logo img {
  width: 300px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  padding: 10px;
}

.hamburger {
  display: none;
  color: #E32D3D;
  z-index: 51;
}

.bar {
  z-index: 51;
  color: #E32D3D;
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #E32D3D;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  font-size: .45rem;
  padding: 5px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  position: relative;
}

.nav-link i {
  font-size: .35rem;
  margin-bottom: 5px;
}

.nav-link .dropdown {
  display: none;
  width: 100%;
  text-align: center;
  background: #1a0d0e;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
}

.nav-link .dropdown a {
  width: 100%;
  display: block;
  padding: 5px;
}

.nav-item {
  padding-bottom: 10px;
  margin: 5px;
}

.nav-item .nav-link {
  border-right: 2px solid white;
  padding-right: 10px;
}

.nav-item:nth-child(6) .nav-link {
  border-right: none;
}

.nav-link:hover {
  color: #E32D3D;
}

.nav-link:hover b {
  color: white;
}

.nav-link:hover .dropdown {
  display: block;
}

@media only screen and (max-width: 1043px) {
  header {
    position: fixed;
    z-index: 51;
    top: 0;
    width: 100%;
  }
  .nav-menu {
    z-index: 50;
    top: 76px;
    position: fixed;
    left: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #1a0d0e;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding-bottom: 50px;
  }
  .nav-link {
    border: none;
  }
  .nav-menu.active {
    left: 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
/*# sourceMappingURL=header.css.map */