@import '../general/scheme.scss';
@import '../general/config.scss';
footer {

    button,
    .btn {
        text-decoration: none;
        padding: 10px;
        background: $primary;
        border: none;
        color: white;
        font-size: .65rem;
        width: 80vw;
    }

    text-align: center;
    background: $bg-alt;
    margin-top: 50px;
    padding-top: 25px;
    display: grid;
    position: relative;

    img {
        display: grid;
        justify-self: center;
        position: absolute;
        height: 50px;
        top: -25px;
    }

    .foot-nav {
        .submenu-foot {

            position: relative;
            text-align: center;
            font-size: .5rem;
            cursor: pointer;

            .submenu-container-foot {
                display: none;
            }

            &:hover .submenu-container-foot {
                background: $bg-alt;
                position: absolute;
                display: block;
            }
        }

        a,
        span {
            text-align: center;
            display: block;
            color: white;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    p {
        text-align: center;
    }

    .referral {
        background: $primary;
        padding: 5px;
        margin: 7px;
        color: white;
        text-decoration: none;
    }

    .disclaimer,
    .copyright {
        color: gray;
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0;
        margin-top: 15px;

        a {
            text-decoration: underline;
            color: gray;
            font-size: 12px;
        }
    }

    .copyright {
        color: white;
        width: 100%;
        background: $primary;
        grid-column: 1/-1;

        a {
            color: white;
        }
    }

    .referral-container {
        display: grid;
    }

    @media only screen and (min-width: $desktop) {

        
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas: ".... foot foot foot foot foot foot ....";
        
        .footer-container{
            grid-area: foot;
        }

        .foot-nav {

            margin-top: 20px;
            display: grid;
            align-items: center;
            grid-template-columns: repeat(6, 1fr);
        }

        .btn {
            width: 33%;
            justify-self: center;
            margin: 0;
        }

        .referral-container {
            grid-template-columns: repeat(3, 1fr);
            padding: 0;
            margin: 0;

        }
    }
}