@import '../general/header.scss';
@import '../general/footer.scss';
@import '../general/config.scss';
@import '../general/typography.scss';

body {
    display: grid;
        @media only screen and (min-width: $desktop) {
            grid-template-columns: repeat(12, 1fr);
            grid-template-areas:
                "head head head head head head head head head head head head"
                ".... main main main main main main main main main main ...."
                "foot foot foot foot foot foot foot foot foot foot foot foot";
            header {
                grid-area: head;
            }

            main {
                grid-area: main;
            }

            footer {
                grid-area: foot;
            }
            }

        @media only screen and (min-width: $desktop-xl) {
            grid-template-columns: repeat(12, 1fr);
            grid-template-areas:
                "head head head head head head head head head head head head"
                ".... .... main main main main main main main main .... ...."
                "foot foot foot foot foot foot foot foot foot foot foot foot";
        }
    
}

main{

    

    .label-long{
        background-color: $secondary;
        margin-top: 50px;
        margin-bottom: 25px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        
        .label-long-title{
            background-color: $primary;
            text-align: center;

            width: 100%;
            margin: 0;
            padding: 5px;
        }

        .search {
            background-color: $secondary;
            border: 3px solid $primary;
            color: white;
            padding: 5px;
        }

        .search[type=text]:focus{
            border: 3px solid white;
        }
    }

    .maps{
        .map-preview-container{
            text-decoration: none;
            color: white;
            .map-preview{
                margin-top: 20px;
                display: grid;
                grid-template-columns: 1.75fr 2fr;
                position: relative;
                background: $secondary;
            
                img{
                    width: 100%;
                    aspect-ratio: 16/9;
                }
                div{
                    display: grid;
                    grid-template-rows: repeat(2, .5fr);
                    height: 100%;
                    .map-title {
                        font-size: calc(0.5rem + .5vw);
                        grid-column: 1/-1;
                        justify-self: center;
                    }

                    .map-auhtor, .map-date{
                        font-size: calc(0.3rem + .5vw);
                        justify-self: center;
                    }

                    .map-description{
                        display: none;
                    }
                }
                
            }
        }
    }

    @media only screen and (min-width: $tablet) {
        .maps .map-preview-container{
            height: 10vh;
                .map-preview {
                    grid-template-columns: 1.25fr 2fr;
                    
                    div {
                        grid-template-rows: auto auto auto;
                        
                        .map-title {
                        font-size: calc(0.4rem + .5vw);
                    }
                    
                    .map-auhtor,
                    .map-date {
                        margin: 0;
                        font-size: calc(0.2rem + .5vw);
                    }
                    
                    .map-description {
                        margin: 15px;
                        font-size: calc(0.25rem + .5vw);
                        display: grid;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: $desktop) {
        .maps .map-preview-container .map-preview{
            grid-template-columns: 1.3fr 2fr;

            div {
                grid-template-rows: auto auto auto;
                
                .map-title {
                    font-size: calc(0.45rem + .5vw);
                }
                
                .map-auhtor,
                .map-date {
                    margin: 0;
                    font-size: calc(0.25rem + .5vw);
                }
                
                .map-description{
                    margin: 15px;
                    font-size: calc(0.3rem + .5vw);
                    display: grid;
                }
            } 
        }
    }

    @media only screen and (min-width: $desktop-xl) {
        .maps .map-preview-container .map-preview {
            div {
                grid-template-rows: auto auto auto;

                .map-title {
                    font-size: calc(0.45rem + .5vw);
                }

                .map-auhtor,
                .map-date {
                    margin: 0;
                    font-size: calc(0.25rem + .5vw);
                }

                .map-description {
                    margin: 15px;
                    font-size: calc(0.3rem + .5vw);
                    display: grid;
                }
            }
        }
    }
}

