@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
html,
body,
button {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
  background-color: #0d0607;
}

@media only screen and (max-width: 1037px) {
  body {
    margin-top: 200px;
  }
}

.btn, button {
  padding: 15px;
  text-decoration: none;
  color: white;
  background: #E32D3D;
  border: none;
  margin-top: 5px;
}

img {
  z-index: 0;
}

header, .nav-logo, .nav-link, ul, li {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background: #1a0d0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

header .nav-logo img {
  width: 300px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  padding: 10px;
}

.hamburger {
  display: none;
  color: #E32D3D;
  z-index: 51;
}

.bar {
  z-index: 51;
  color: #E32D3D;
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #E32D3D;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  font-size: .45rem;
  padding: 5px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  position: relative;
}

.nav-link i {
  font-size: .35rem;
  margin-bottom: 5px;
}

.nav-link .dropdown {
  display: none;
  width: 100%;
  text-align: center;
  background: #1a0d0e;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
}

.nav-link .dropdown a {
  width: 100%;
  display: block;
  padding: 5px;
}

.nav-item {
  padding-bottom: 10px;
  margin: 5px;
}

.nav-item .nav-link {
  border-right: 2px solid white;
  padding-right: 10px;
}

.nav-item:nth-child(6) .nav-link {
  border-right: none;
}

.nav-link:hover {
  color: #E32D3D;
}

.nav-link:hover b {
  color: white;
}

.nav-link:hover .dropdown {
  display: block;
}

@media only screen and (max-width: 1043px) {
  header {
    position: fixed;
    z-index: 51;
    top: 0;
    width: 100%;
  }
  .nav-menu {
    z-index: 50;
    top: 76px;
    position: fixed;
    left: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #1a0d0e;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding-bottom: 50px;
  }
  .nav-link {
    border: none;
  }
  .nav-menu.active {
    left: 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

html,
body,
button {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
  background-color: #0d0607;
}

@media only screen and (max-width: 1037px) {
  body {
    margin-top: 200px;
  }
}

.btn, button {
  padding: 15px;
  text-decoration: none;
  color: white;
  background: #E32D3D;
  border: none;
  margin-top: 5px;
}

img {
  z-index: 0;
}

footer {
  text-align: center;
  background: #1a0d0e;
  margin-top: 50px;
  padding-top: 25px;
  display: -ms-grid;
  display: grid;
  position: relative;
}

footer button,
footer .btn {
  text-decoration: none;
  padding: 10px;
  background: #E32D3D;
  border: none;
  color: white;
  font-size: .65rem;
  width: 80vw;
}

footer img {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  position: absolute;
  height: 50px;
  top: -25px;
}

footer .foot-nav .submenu-foot {
  position: relative;
  text-align: center;
  font-size: .5rem;
  cursor: pointer;
}

footer .foot-nav .submenu-foot .submenu-container-foot {
  display: none;
}

footer .foot-nav .submenu-foot:hover .submenu-container-foot {
  background: #1a0d0e;
  position: absolute;
  display: block;
}

footer .foot-nav a,
footer .foot-nav span {
  text-align: center;
  display: block;
  color: white;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer p {
  text-align: center;
}

footer .referral {
  background: #E32D3D;
  padding: 5px;
  margin: 7px;
  color: white;
  text-decoration: none;
}

footer .disclaimer,
footer .copyright {
  color: gray;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  margin-top: 15px;
}

footer .disclaimer a,
footer .copyright a {
  text-decoration: underline;
  color: gray;
  font-size: 12px;
}

footer .copyright {
  color: white;
  width: 100%;
  background: #E32D3D;
  grid-column: 1/-1;
}

footer .copyright a {
  color: white;
}

footer .referral-container {
  display: -ms-grid;
  display: grid;
}

@media only screen and (min-width: 992px) {
  footer {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas: ".... foot foot foot foot foot foot ....";
  }
  footer .footer-container {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-area: foot;
  }
  footer .foot-nav {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  footer .btn {
    width: 33%;
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 0;
  }
  footer .referral-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0;
  }
}

html,
body,
button {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
  background-color: #0d0607;
}

@media only screen and (max-width: 1037px) {
  body {
    margin-top: 200px;
  }
}

.btn, button {
  padding: 15px;
  text-decoration: none;
  color: white;
  background: #E32D3D;
  border: none;
  margin-top: 5px;
}

img {
  z-index: 0;
}

body {
  color: white;
}

p, a {
  font-size: .5rem;
}

.label {
  font-size: 0.5rem;
}

h1, h2 {
  font-size: 1.063rem;
}

h3 {
  font-size: .5rem;
}

body {
  display: -ms-grid;
  display: grid;
}

@media only screen and (min-width: 992px) {
  body {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "head head head head head head head head head head head head" ".... main main main main main main main main main main ...." "foot foot foot foot foot foot foot foot foot foot foot foot";
  }
  body header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: head;
  }
  body main {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-area: main;
  }
  body footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: foot;
  }
}

@media only screen and (min-width: 1500px) {
  body {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "head head head head head head head head head head head head" ".... .... main main main main main main main main .... ...." "foot foot foot foot foot foot foot foot foot foot foot foot";
  }
}

body .no-margin {
  margin: 0;
  margin-top: 10px;
}

body .btn:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  background: white;
  color: #E32D3D;
}

.label {
  background: #63141b;
  text-align: center;
  padding: 10px;
  font-size: .65rem;
  font-weight: 800;
}

main {
  position: relative;
}

main .header-content {
  display: -ms-grid;
  display: grid;
  position: relative;
}

main .header-content img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 24px;
}

main .header-content h1 {
  font-size: .9rem;
  position: absolute;
  padding-bottom: 6px;
  padding-top: 6px;
  margin: 0;
  width: 100%;
  left: 0;
  top: 270px;
  text-align: center;
  background: #E32D3D;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
}

main .header-content p {
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  padding: 6px;
  margin: 0;
  width: 300px;
  text-align: center;
  color: #E32D3D;
  background: white;
  margin-bottom: 90px;
}

main .additional-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

main .additional-details .label {
  grid-column: 1/-1;
}

main .additional-details .info {
  text-align: center;
}

main .map-downloads {
  display: -ms-grid;
  display: grid;
}

main .map-downloads a {
  text-align: center;
  margin: 10px 50px 0px 50px;
}

main .map-downloads a i {
  float: right;
}

main .map-info {
  display: -ms-grid;
  display: grid;
  text-align: center;
}

main .map-info iframe {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  min-height: 250px;
  aspect-ratio: 16/9;
}

main .map-info .map-details {
  padding: 50px;
  text-align: left;
  background: #1a0d0e;
}

main .map-info .map-details li {
  list-style-type: unset;
  font-size: .5rem;
  margin-left: 15px;
}

main .map-gallery {
  display: none;
}

@media only screen and (min-width: 768px) {
  main .map-downloads {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main .map-downloads .label {
    grid-column: 1/-1;
  }
  main .map-info {
    /*  iframe {
                justify-self: center;
                width: 600px;
                height: 338px;
                aspect-ratio: 16/9; 
                width: 100%;
            } */
  }
  main .map-info .map-details {
    text-align: left;
  }
  main .map-gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  main .map-gallery .label {
    grid-column: 1/-1;
  }
  main .map-gallery img {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
  main .label {
    font-size: .6rem;
  }
  main .header-content {
    grid-column: 1/-1;
  }
  main .map-downloads, main .map-gallery, main .map-info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  main .map-downloads {
    margin: 0;
    padding: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  main .map-downloads .label {
    margin: 0;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
  }
  main .additional-details {
    margin-left: 10px;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .additional-details .info {
    background: #1a0d0e;
    margin-top: 5px;
  }
  main .additional-details .label {
    margin: 0;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
  }
}
/*# sourceMappingURL=maps.css.map */